form {
  background-color: white;
  padding: 20px;
  border-radius: 20px/50px;
  position: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-clip: padding-box;

  margin-top: -10rem;

}

.modal__btn {
  margin-top: 4rem;
  padding: 1rem 3rem;
  border-radius: 50rem;
  color: inherit;
  background: transparent;
  font-size: 1.4rem;
  font-family: inherit;
  letter-spacing: .2rem;

  transition: .2s;
  cursor: pointer;
}



.modal__btn:nth-of-type(1) {
margin-right: 1rem;
}

.modal__btn:hover,
.modal__btn:focus {

transform: translateY(-.2rem);
}


.popup {
  font-size: 1em;
  padding: 2px;
  color: #fff;
  border: 2px solid #40b66d;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}



.optionbox{

  position: relative;
  top: 0%;
  left: 13%;
  width: 10px;
  height :20px;

}

.optionbox select {
    background: #40b66d;
    color: #fff;
    padding: 10px;
    width: 280px;
    height: 40px;
    border: none;
    font-size: 15px;
    -webkit-appearance: button;
    outline: none;
}

.optionbox:before{
  content: '\f358';
  position: absolute;

  top: 0;
  right: 0;
  height: 40px;
  width: 50px;
  background: #40b66d;
  text-align: center;
  line-height: 50px;
  color:#fff;
  font-size: 10px;
  pointer-events: none;


}

.optionbox:hover:before{

    background: #F79027

    ;

  }

.overlay {
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 9999;
      background-color: white;
      box-shadow: 0px 0px 10px rgb(0, 0, 0);
      border-radius: 20px;
      padding: 80px;
      margin-top: 5%;
    }


.overlay-container::before {
content: '';
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: rgba(6, 19, 11, 0.5);
backdrop-filter: blur(10px);
z-index: 9998;
}


.ipaddr{
position: relative;
margin-right: 3%;
}





input[type="text"] {
background-color: transparent;
border: none;
border-bottom: 2px solid red;
font-size: 16px;
color: rgb(24, 15, 15);
padding: 10px;
transition: border-color 0.3s ease, color 0.3s ease;
}

input[type="text"]:focus,
input[type="text"]:not(:placeholder-shown) {
outline: none;
border-bottom-color: #00AE4E

;
}

input[type="text"]:not(:empty) {
color: #00AE4E

ue;
border-bottom-color: #00AE4E

;
}








.btnproj{
padding-left: 170px;
}

.contenuelpopup h2{
padding-left: 5.5rem;
padding-bottom: 2rem;
text-align: center;
}

.port {
padding: 10px;
border: none;
border-radius: 5px;
margin-right: 10px;
background-color: #f2f2f2;
font-size: 16px;
box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.ipaddr {
padding: 10px;
border: none;
border-radius: 5px;
margin-right: 10px;
background-color: #f2f2f2;
font-size: 16px;
box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.btn {
background-color: #00ae4e;
color: #fff;
border: none;
border-radius: 36px;
padding: 10px 20px;
font-size: 13px;
cursor: pointer;
transition: all 0.3s ease;
box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
margin-right: 0.5rem;
}

.btn2 {
background-color: #5ac57e;
color: #fff;
border: none;
border-radius: 5px;
padding: 10px 20px;
font-size: 12px;
cursor: pointer;
transition: all 0.3s ease;
box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

#rmv:hover {
background-color: #d90700;
transform: translateY(-2px);
box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}


#close {
margin-top: 0.5px;
position: relative;
float: right;
padding-left: 2rem;
cursor: pointer;
}
.failicon{
  width: 40px;
  position: fixed;
}